{% extends "base.html" %}
{% block content %}

<div class="row">
    <h2>Login</h2>
    <br>

    <form method="post" role="form">

      <div class="form-section">
        <label for="username">Username:</label>
        <br>

        <input type="text" name="username" value="{{username}}">
        <br>
      </div>




    <div class="form-section">
      <label for="password">Password:</label>
      <br>
      <input type="password" name="password" value="" />
      {% if error %}
        <div class="error">{{error}}</div>
      {% endif %}
      <br>
    </div>


        <br>
        <button type="submit">Submit</button>
    </form>
    {% endblock %}
