{% extends "base.html" %}

{% block content %}

{% if error %}
  <div class="error">{{error}}</div>
{% endif %}

{{entry.render() | safe}}

{% if user %}
  <a href="/deleteentry/{{entry.key().id()}}">Delete Entry</a> |
  <a href="/editentry/{{entry.key().id()}}">Edit Entry</a>
{% endif %}

<p class="like-text"> Likes: {{numlikes}}</p>
<div class="like-box">
    <form method="post" role="form">
        <input type="hidden" name="like" value="yes">
        <button type="submit">Like!</button>
    </form>

    <form method="post" role="form">
        <input type="hidden" name="like" value="no">
        <button type="submit">Don't Like!</button>
    </form>

</div>

<br>
<form method="post" role="form">

    <h4>Write a comment:</h4>
    <textarea name="comment" value="" rows="10" cols="50"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>

{% for c in comments %}
  <p class="comment-text">{{ c.comment }}</p>
  <p class="posted-by"> Posted by {{c.getUserName()}}
  </p>

  {% if user %}
    <a href="/deletecomment/{{entry.key().id()}}/{{c.key().id()}}">Delete</a> |
    <a href="/editcomment/{{entry.key().id()}}/{{c.key().id()}}">Edit</a>
  {% endif%}
{% endfor %}
{% endblock %}
